name: Production Subgraph (Mainnet)

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: false
        type: string
        default: 'testnet'
      CONFIG:
        required: true
        type: string
        default: mainnetAddressScript.ts
    secrets:
      NODE_AUTH_TOKEN:
        required: true
      ACCESS_TOKEN:
        required: true

jobs:
  template-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set arbitrum staging environment variables
        if: ${{ inputs.ENVIRONMENT == 'staging-arbitrum' }}
        run: |
          echo "ENV_SUFFIX=graph-network-arbitrum-staging" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set mainnet staging environment variables
        if: ${{ inputs.ENVIRONMENT == 'staging-mainnet' }}
        run: |
          echo "ENV_SUFFIX=graph-network-mainnet-staging" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set mainnet environment variables
        if: ${{ inputs.ENVIRONMENT == 'production' }}
        run: |
          echo "ENV_SUFFIX=graph-network-mainnet" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set arbitrum environment variables
        if: ${{ inputs.ENVIRONMENT == 'production-arbitrum' }}
        run: |
          echo "ENV_SUFFIX=graph-network-arbitrum" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set goerli production environment variables
        if: ${{ inputs.ENVIRONMENT == 'production-goerli' }}
        run: |
          echo "ENV_SUFFIX=graph-network-goerli" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set arbitrum goerli production environment variables
        if: ${{ inputs.ENVIRONMENT == 'production-arbitrum-goerli' }}
        run: |
          echo "ENV_SUFFIX=graph-network-arbitrum-goerli" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set goerli production environment variables
        if: ${{ inputs.ENVIRONMENT == 'production-sepolia' }}
        run: |
          echo "ENV_SUFFIX=graph-network-sepolia" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set arbitrum goerli production environment variables
        if: ${{ inputs.ENVIRONMENT == 'production-arbitrum-sepolia' }}
        run: |
          echo "ENV_SUFFIX=graph-network-arbitrum-sepolia" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=" >> $GITHUB_ENV

      - name: Set mainnet environment variables no ipfs
        if: ${{ inputs.ENVIRONMENT == 'production-no-ipfs' }}
        run: |
          echo "ENV_SUFFIX=no-ipfs-network-ethereum" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=no-" >> $GITHUB_ENV

      - name: Set arbitrum environment variables no ipfs
        if: ${{ inputs.ENVIRONMENT == 'production-arbitrum-no-ipfs' }}
        run: |
          echo "ENV_SUFFIX=no-ipfs-network-arbitrum" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=no-" >> $GITHUB_ENV

      - name: Set goerli production environment variables no ipfs
        if: ${{ inputs.ENVIRONMENT == 'production-goerli-no-ipfs' }}
        run: |
          echo "ENV_SUFFIX=no-ipfs-network-goerli" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=no-" >> $GITHUB_ENV

      - name: Set arbitrum goerli production environment variables no ipfs
        if: ${{ inputs.ENVIRONMENT == 'production-arbitrum-goerli-no-ipfs' }}
        run: |
          echo "ENV_SUFFIX=no-ipfs-network-arb-goerli" >> $GITHUB_ENV
          echo "IPFS_SUFFIX=no-" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v3

      # Install commands
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
          registry-url: https://registry.npmjs.org
      - name: yarn add ts-node
        run: yarn add ts-node
      - name: yarn install
        run: yarn install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      # Run scripts
      - name: Prepare IPFS enabled/disabled files
        run: ./node_modules/.bin/mustache ./config/${{ env.IPFS_SUFFIX }}ipfs.json ./src/mappings/helpers/metadata.template.ts > ./src/mappings/helpers/metadata.ts

      - name: Prepare addresses ${{ inputs.ENVIRONMENT }}
        run: ./node_modules/.bin/ts-node config/${{ inputs.CONFIG }} && ./node_modules/.bin/mustache ./config/generatedAddresses.json ./config/addresses.template.ts > ./config/addresses.ts

      - name: Prepare ${{ inputs.ENVIRONMENT }}
        run: ./node_modules/.bin/mustache ./config/generatedAddresses.json subgraph.template.yaml > subgraph.yaml && ./node_modules/@graphprotocol/graph-cli/bin/run codegen --output-dir src/types/

      - name: Deploy to ${{ inputs.ENVIRONMENT }}
        run: ./node_modules/@graphprotocol/graph-cli/bin/run deploy graphprotocol/${{ env.ENV_SUFFIX }} --ipfs https://api.thegraph.com/ipfs/ --node https://api.thegraph.com/deploy/ --access-token ${{ secrets.ACCESS_TOKEN }}
